{% load socialaccount %}
{% providers_media_js %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href='{% static "website/style.css" %}'>
  <link rel="stylesheet" href='{% static "website/css/bootstrap.css" %}'>
  <title>gbl2020</title>
</head>
<body>
{% include 'website/navbar.html' %}
        <main>
            {% block content %}
  <div class="body">
    <div class="main">
    <br>
        <div class="main1">GameBasedLearning2020</div>
        <div class="main2">현재순위</div>
      <div style="display: flex; width: 100%;flex-direction: column; align-items: center; border-top:solid 2px whitesmoke; border-bottom:solid 2px whitesmoke; padding-top: 8px; padding-bottom: 8px; margin-top:10px; margin-bottom: 10px;">
        <div class="title" style="margin-top: 5px; justify-content: center; font-size: 27px; font-weight: 450;">
          현재 당신의 점수와 등수
          </div>
          <div class="title" style="margin-top: 5px; justify-content: center; font-size: 30px; font-weight: 600;">
            <div class="impose">"{{selfuser.point}} 점 / {{selfuser.rank}} 위"</div> 
            </div>
      </div>
      <div class="title" style="margin-top: 5px; justify-content: center;">
        «랭킹 Top 20»
        </div>
      {% for user in rank %}
      <div class="box" style="background-color: whitesmoke; border-radius: 5px; margin-top: 9px;">
        <div class="row2" style="height: 54px;">
          {% if user.rank < 4 %}
          <div class="minibox">
            <div class="plan_title" style="margin-left: 15px; margin-top: 9px; margin-bottom: 9px; color: #0077ff;">
              {{user.rank}}
            </div>
          </div>
          {% else %}
          <div class="minibox">
            <div class="plan_title" style="margin-left: 15px; margin-top: 9px; margin-bottom: 9px; color: black;">
              {{user.rank}}
            </div>
          </div>
          {% endif %}
          <div class="minibox middle">
            <div class="plan_title" style="margin-right: 5px; color: #34314C;">
              {{user.code}}
            </div>
          </div>
          <div class="minibox leftgo">
            <div class="plan_title" style="margin-right: 5px; color: #34314C;">
              {{user.point}} 점
            </div>
          </div>
        </div>
        
      </div>
      {% endfor %}
      <br><br>
    </div>
  </div>
  {% endblock %}
        </main>
</body>
</html>