
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href='{% static "website/style.css" %}'>
		<link rel="stylesheet" href='{% static "website/css/bootstrap.css" %}'>
  <title>부스 정보</title>
</head>
<body>

{% include 'website/navbar.html' %}
  <div class="body">
    <div class="main">
        <br>
        <div class="main1">GameBasedLearning2020</div>
        <div class="main2">{{booth.name}}</div>
        <div class="box">
          <video src="{% static 'booth_vid/'%}"> 비디오를 출력할 수 없습니다. </video>
        </div>
    </div>
  </div>
</body>
</html>