{% load socialaccount %}
{% providers_media_js %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href='{% static "website/style.css" %}'>
		<link rel="stylesheet" href='{% static "website/css/bootstrap.css" %}'>
  <title>gbl2020</title>
</head>
<body>

{% include 'website/navbar.html' %}

  <div class="body">
    <div class="main">
    <div class="main_title" style="margin-top: 15%">
      2020 <span style="white-space: nowrap" class="g">G</span><span style="white-space: nowrap" class="b">B</span><span style="white-space: nowrap" class="l">L</span>
    </div>
    <div class="main_title2" style="font-size: 20px">
        수학,과학 융합/Game Based Learning
    </div>
    <div class="minititle" style="margin-top: 10%;">
      행사 일정
    </div>
    {% for pl in plan %}
    <div class="box">
      <div class="row2">
        <div class="minibox" style="flex: 1; margin-left: 5%; margin-top: 4%; margin-bottom: 4%;">
          <div class="plan_title">
            {{pl.name | linebreaksbr}}
          </div>
          <div class="content">
            {{pl.where | linebreaksbr}}
          </div>
        </div>
        <div class="minibox leftgo" style="margin-right: 5%; margin-top: 4%; margin-bottom: 4%;">
          <div class="happy_text">
            {{pl.date | linebreaksbr}}
          </div>
        </div>
      </div> 
    </div>
    {% endfor %}
    <div class="minititle" style="margin-top: 10%;">
      부스 정보
    </div>
    {% for boot in booth %}
    <div class="box">
      <div class="row2">
        <div class="minibox" style="flex: 1; margin-left: 5%; margin-top: 4%; margin-bottom: 4%;">
          <div class="plan_title">
            {{boot.name | linebreaksbr}}
          </div>
          <div class="content">
            {{boot.club | linebreaksbr}}
          </div>
        </div>
      </div> 
    </div>
    {% endfor %}
    <br><br>
  </div>
  </div>
</body>
</html>