{% load socialaccount %}
{% providers_media_js %}
{% load static %}
{% load webpush_notifications %}
<!DOCTYPE html>
<html>
	<head>
        <link rel="stylesheet" href='{% static "website/style_ss.css" %}'>
		<link rel="stylesheet" href='{% static "website/css/bootstrap.css" %}'>
        <title>gbl2020 login</title>
        {% webpush_header %}
	</head>
	<body>
    <div class="body">
    <div class="main">

        <div class="login_sumud" style="font-size: 150px; margin-bottom: 5px">
            2020 <span style="white-space: nowrap;" class="g">G</span><span style="white-space: nowrap" class="b">B</span><span style="white-space: nowrap" class="l">L</span>
        </div>
        <div class="main_title2" style="font-size: 47px; margin-left: 48px; margin-bottom: 50px">
        수학,과학 융합/Game Based Learning
        </div>
        <div class="sub_text">
            코드를 입력해주세요
        </div>
        <form method="POST" action="login">
            {% csrf_token %}
            <input name="code" type="text" class="form-control" id="exampleInputEmail1" placeholder="코드를 입력해주세요" style="height: 150px;">
            <div class="sub_btn">
            <input type="submit" class="btn_plus" />
        </form>
        
        </div>

        <div class="box"></div>

    </div>
    </div>

		<!--script태그는 body태그 맨 밑에 놔주세요 -->
		<script type="text/javascript" src='{% static "website/js/bootstrap.js" %}'></script>
	</body>
</html>